.vs/
.idea/
.vscode/
.history/

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
artifacts/
dist/
publish/
TestResults/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.log
*.trx
*.pfx
*.publishsettings
*.pubxml
*.azurePubxml

node_modules/
coverage*/
*.coverage
*.coveragexml

